{% extends 'base/base.html' %}
{% block content %}
    <section>
        <div class="container align-items-center d-flex flex-column">
            <h1 class="mb-5 mt-5">Для чего нужна Матрица Эйзенхауэра</h1>
            <p>Матрица Эйзенхауэра представляет собой четыре квадранта, основанием которых служат две оси — это ось
                важности (по вертикали) и ось срочности (по горизонтали). В итоге получается, что каждый квадрант
                отличается своими качественными показателями. Проще говоря, для того чтобы начать работать этим приемом
                необходимо лишь задать 2 вопроса:
                <br>
                • Важно ли это?<br>
                • Срочно ли это?<br>
                Исходя из полученных выводов, необходимо распределять задачи в разные сектора. <br>
                <span style="font-size: 1.2em">1.Квадрат В;</span><br>
                Это квадрат которому стоит уделять наибольшее количество внимания. Сюда следует записать необходимые
                дела, которые важны, но при этом не носят срочный характер. Основная масса задач должна находиться
                здесь, именно с ним вам предстоит работать в большей мере. <br>

                <span style="font-size: 1.2em">2. Квадрат А;</span><br>
                Квадрат с важными и срочными делами. Сюда необходимо записать те дела, сроки которых "горят". Небольшое
                количество пунктов в этом секторе обозначает эффективность вашей работы и планирования.
                Здесь следует отметить самую распространенную ошибку начинающих пользователей: квадрату В стоит уделять
                наибольшее внимание, в то время как в квадрат А записываются лишь дела которые "горят" по срокам.
                Небольшое количество пунктов в этом секторе означает эффективность вашей работы и планирования. <br>

                <span style="font-size: 1.2em">3. Квадрат С;</span><br>
                В этот квадрат стоит записать те дела, которые отвлекают вас от основной деятельности. Задачи, которые
                маячат на краю сознания и мешают сосредоточиться на чем-то действительно важном, относятся именно сюда. <br>

                <span style="font-size: 1.2em">4. Квадрат D;</span><br>
                Этот квадрат часто называют "мусоркой", здесь находятся дела, которыми в целом можно пренебречь, так как
                они не ставят под угрозу достижение целей. <br>
                Сюда стоит записывать те дела, которыми вы бы просто хотели заняться для собственного удовольствия
                (например, ваше хобби).</p>
        </div>
    </section>
{% endblock %}