{% extends 'base/base.html' %}
{% load static %}
{% block style %}
    <style>
        body {
            background-color: #17a2b8;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 main-h1">
                <div class="type-js headline">
                    <h1 class="text-js">Матрица Эйзенхауэра</h1>
                </div>
            </h1>
            <h3 class="mb-5">
                <em>Научись распределять своё время</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'matrix' %}">К матрице</a>
        </div>
        <div class="overlay"></div>
    </header>
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Функционал</h3>
                <h2 class="mb-5">Что мы предлагаем</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
                    <h4>
                        <strong>Удобство</strong>
                    </h4>
                    <p class="text-faded mb-0">Доступно на разных устройствах</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
                    <h4>
                        <strong>Сохранение</strong>
                    </h4>
                    <p class="text-faded mb-0">Моментальная отправка на почту</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
                    <h4>
                        <strong>Результативность</strong>
                    </h4>
                    <p class="text-faded mb-0">Лучшая методика <br> тайм-менеджмента</p>
                </div>
                <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
                    <h4>
                        <strong>Индивидуальность</strong>
                    </h4>
                    <p class="text-faded mb-0">Задачи хранятся в вашем аккаунте</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}