{% extends 'base/base.html' %}
{% block content %}
    <section class="content-section" id="portfolio">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Редактор</h3>
                <h2 class="mb-3">Твоя матрица</h2>
            </div>
            <div class="row mb-4">
                {% for matrix in matrices %}
                    <div class="col-lg-6 mt-4">
                        <h1 class="text-center">{{ matrix.title }}</h1>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <form action="{% url 'add-task' pk=matrix.pk %}" method="POST" class="col-lg-9">
                                        {% csrf_token %}
                                        <div class="row my-row">
                                            <div class="col-lg-9">{{ form }}</div>
                                            <button class="col-lg-3 btn btn-warning" type="submit">Добавить</button>
                                        </div>
                                    </form>
                                    <a href="{% url 'reset' pk=matrix.pk %}" class="col-lg-3 my-btn-danger">
                                        <button class="btn btn-danger">Очистить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for task in matrix.tasks.all %}
                                <li class="list-group-item">
                                    <div class="row row-my">
                                        <a href="{% url 'delete-task' pk=task.pk %}" class="col-lg-1">
                                            <button class="btn btn-info">X</button>
                                        </a>
                                        <p class="col-lg-11 m-auto">{{ task.task }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row mt-3">
                <a href="{% url 'send' %}" style="margin: 0 auto;">
                    <button class="btn btn-primary">Отправить на почту</button></a>
            </div>
        </div>
    </section>
{% endblock %}